
<div class="custom-body">
  <div class="row">
    <div class="col-1">
      <button mat-mini-fab color="primary" type="button" (click)="back()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <div class="col-11">
      <h2><strong>
        {{'APP.PROFILE.TITLE' | translate}}
      </strong></h2>
    </div>
  </div>

  <div class="profile-page-body" *ngIf="!user">
    <div class="center">
      <h3>
        {{'APP.PROFILE.NOTLOGGEDIN' | translate}}
      </h3>
      <button mat-raised-button color="primary" type="button" (click)="openLogin()">
        <mat-icon>login</mat-icon> {{'APP.PROFILE.GOTOLOGIN' | translate}}
      </button>
    </div>
  </div>

  <div class="profile-page-body" *ngIf="user">
    <mat-card class="profile-card">
      <mat-card-header>
        <div mat-card-avatar>
          <img class="profile-image" [src]="user.photoURL">
          <button mat-icon-button (click)="uploadImg()">
            <mat-icon>cloud_upload</mat-icon>
          </button>
        </div>
        <!-- -->
        <mat-card-title class="display-name">
          <div *ngIf="!editDisplayNameFlag">
            {{user.displayName}}
            <!-- -->
            <button mat-icon-button (click)="editDisplayName()">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
          <!-- -->
          <div *ngIf="editDisplayNameFlag">
            <mat-form-field>
              <input matInput type="text" [(ngModel)]="user.displayName">
            </mat-form-field>
            <!--  -->
            <button mat-icon-button (click)="saveDisplayName()">
              <mat-icon>save</mat-icon>
            </button>
          </div>
        </mat-card-title>

        <mat-card-subtitle class="email">
          <!-- Email is not updatable -->
            {{user.email}}
        </mat-card-subtitle>
        <div>
          <br>
          Username: {{user.username}}
          <br>
          Master Rank: {{user.masterRank}}
          <br>
          Role: {{user.role}}
          <br>
        </div>
      </mat-card-header>

    </mat-card>
  </div>
</div>
