<div *ngIf="game">
  <mat-card>
    <div class="row">
      <div class="col-4">
        <img src="game.game_logo_link">
      </div>
      <div class="col-8">
        <mat-card-title>
          {{game.game_title}}
        </mat-card-title>
          {{game.game_category.category_title}}
        <mat-card-content>
          {{game.game_description}}
        </mat-card-content>
        <mat-card-actions>

        </mat-card-actions>
        <mat-card-footer>
          {{game.game_rating}}

        </mat-card-footer>
      </div>
    </div>


  </mat-card>
</div>
