<div  *ngIf="game">
  <!-- [routerLink]="gameLink" -->
  <mat-card class="custom-game-card hoverable-card" matRipple (click)="openGame()">
    <div class="row">
      <div class="col-4">
        <img mat-card-image [src]="game.game_logo_link">
      </div>
      <div class="col-8">
        <mat-card-title>
          {{game.game_title}}
        </mat-card-title>
          {{game.game_category.category_title}}
        <mat-card-content>
          {{game.game_description}}
          <app-ratings [currRating]="(game.game_rating)"></app-ratings>
        </mat-card-content>
        <mat-card-actions>

        </mat-card-actions>
        <mat-card-footer>

        </mat-card-footer>
      </div>
    </div>


  </mat-card>
</div>
