<p class="mat-elevation-z4">
<mat-toolbar color="primary">


  <div class="heading">
    <span (click)="goToHome()">
      <mat-icon class="custom-gamepad-icon clickable">videogame_asset</mat-icon>
      <a >
        {{ 'APP.HEADER.TITLE' | translate }}
      </a>
    </span>
  </div>

  <span class="example-spacer"></span>
  <div class="heading-admin">
    <button *ngIf="isAdmin()|async" mat-icon-button (click)="goToAdmin()" matTooltip="{{'APP.HEADER.ADMIN' | translate}}">
      <mat-icon>admin_panel_settings</mat-icon>
    </button>
  </div>

  <div class="heading-score">
    <button mat-icon-button (click)="goToScoreBoard()" matTooltip="{{'APP.HEADER.SCOREBOARD' | translate}}">
      <mat-icon>sports_score</mat-icon>
    </button>
  </div>

  <div class="heading-category">
    <button mat-icon-button [matMenuTriggerFor]="categoriesMenu" matTooltip="{{'APP.HEADER.CATEGORIES' | translate}}">
      <mat-icon>category</mat-icon>
    </button>
  </div>
  <mat-menu #categoriesMenu="matMenu">
    <div *ngFor="let category of categories">
      <button mat-menu-item (click)="openCategory(category.category_value)">
        {{category.category_title}}
      </button>
    </div>
  </mat-menu>

  <div class="heading-language">
    <button mat-icon-button [matMenuTriggerFor]="languageMenu" matTooltip="{{'APP.HEADER.LANGUAGE' | translate}}">
      <mat-icon>language</mat-icon>
    </button>
  </div>
  <mat-menu #languageMenu="matMenu">
    <div *ngFor="let language of languages">
      <button mat-menu-item (click)="selectLang(language.LANGUAGE_VALUE)">{{language.LANGUAGE_DISPLAYNAME}}</button>
    </div>
  </mat-menu>

  <div class="heading-profile">
    <button *ngIf="loggedIn" mat-icon-button [matMenuTriggerFor]="profileDropdown" matTooltip="{{'APP.HEADER.PROFILE' | translate}}">
      <div mat-card-avatar>
        <img [src]="user.photoURL">
      </div>
    </button>
  </div>
  <mat-menu #profileDropdown="matMenu">
    <!-- (logoutEvent)="logout()" -->
    <app-profile-dropdown-card [isLoggedIn]="loggedIn"></app-profile-dropdown-card>
    <button mat-menu-item (click)="goToProfilePage()">
      <mat-icon>manage_accounts</mat-icon>
      Profile
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </mat-menu>

  <div class="heading-login">
    <button *ngIf="!loggedIn" mat-icon-button matTooltip="{{'APP.HEADER.LOGIN' | translate}}" (click)="openLogin()">
      <mat-icon>login</mat-icon>
    </button>
  </div>
  <!-- Online/Offline toggle switch is removed temporarily -->
  <!-- <div [hidden]=true>
    <label class="toggle-label-offline" id="offline">{{'APP.HEADER.OFFLINE' | translate}}</label>
    <mat-slide-toggle class="custom-toggle" [(ngModel)]="isOnline" (change)="toggle()">
    </mat-slide-toggle>
    <label class="toggle-label-online" id="online">{{'APP.HEADER.ONLINE' | translate}}</label>
  </div> -->
</mat-toolbar>
</p>
