.custom-gamepad-icon{
  transform: rotate(-45deg);
  margin: 5px;
}
// > a
.heading:hover, .heading-score:hover,
 .heading-category:hover, .heading-language:hover,
  .heading-profile:hover{
  color: yellow;
}

.heading-score:focus, .heading-category:focus,
  .heading-language:focus, .heading-profile:focus{
  color: yellow;
}

mat-icon > a:hover{
  color: yellow;
}

a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.example-spacer {
  flex: 1 1 auto;
}

.toggle-label-online{
  font-size: small;
  padding-top:7px;
  padding-left: 2px;
  padding-right: 2px;
}

.toggle-label-offline{
  font-size: small;
  padding-top:7px;
  padding-left: 4px;
  padding-right: 10px;
  color: yellow;
}
