<p>
  <mat-toolbar color="primary">
    <div class="heading" >
      {{appName}}
      <!-- <a href="#" (click)="goToHome()">
      <a href="gamebox-app-ui-demo/">

      </a> -->
    </div>

    <!-- href="/home"  [routerLink]="['home']"  -->
    <!-- <button mat-button>
      {{appName}}
    </button> -->

    <span class="example-spacer"></span>

    <button mat-button [matMenuTriggerFor]="categoriesMenu">
      Categories
    </button>
    <mat-menu #categoriesMenu="matMenu" >
      <div *ngFor="let category of categories">
        <button mat-menu-item (click)="openCategory(category.category_value)" >

        <!-- [routerLink]="['category', category.category_value]" -->
          {{category.category_title}}
        </button>
      </div>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="languageMenu" matTooltip="Language">
      <mat-icon>language</mat-icon>
    </button>
    <mat-menu #languageMenu="matMenu" >
      <div *ngFor="let language of languages">
        <button mat-menu-item>{{language.LANGUAGE_DISPLAYNAME}}</button>
      </div>
    </mat-menu>

    <button mat-icon-button matTooltip="Login">
      <mat-icon>login</mat-icon>
    </button>
    <mat-slide-toggle matTooltip="Online/Offline"></mat-slide-toggle>
  </mat-toolbar>
</p>
