<div class="login-signup-body">
  <mat-card class="mat-elevation-z4">
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Login">
          <div class="login-body">
            <form [formGroup]="loginForm">

              <mat-form-field class="custom-mat-form">
                <mat-label>Username</mat-label>
                <input matInput type="text" formControlName="username">
                <button mat-icon-button matSuffix disabled>
                  <mat-icon>account_circle</mat-icon>
                </button>
              </mat-form-field>
              <br>
              <mat-form-field class="custom-mat-form">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </form>

            <div class="form-actions">
              <button class="login-button" mat-raised-button color="primary" (click)="loginWithFirebase()">Login</button>
              <button class="cancel-button" mat-raised-button (click)="cancel()">Cancel</button>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Sign Up">
          <div class="signup-body">
            <form [formGroup]="signUpForm">

              <mat-form-field class="custom-mat-form">
                <mat-label>Username</mat-label>
                <input matInput type="text" formControlName="username">
                <button mat-icon-button matSuffix disabled>
                  <mat-icon>account_circle</mat-icon>
                </button>
              </mat-form-field>
              <br>
              <mat-form-field class="custom-mat-form">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </form>

            <div class="form-actions">
              <button class="signup-button" mat-raised-button color="primary" (click)="signUpWithFirebase()">Sign Up</button>
              <button class="cancel-button" mat-raised-button (click)="cancel()">Cancel</button>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
