.profile-card {
  max-width: 100%;
}

.display-name{
  overflow-wrap: anywhere;
  font-size: 1rem;
}

.email{
  overflow-wrap: anywhere;
}

img{
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.profile-dropdown{
  display: flex;
  justify-content: center;
  align-items: center;
}
