ngb-carousel{

  // position: center;
  margin: auto;
}

.slide-image{
  left: 50%;
  top: 50%;
  height: 300px;
  align-items: center; //to make the big image center aligned
}

// img{
//   // width:1366px;
//   // left: 50%;
//   // top: 50%;
// }

.carousel-caption{
  text-shadow: 2px 2px 8px black;
}

div.gallery {
  // height: 100px;
  // width: 100px;
  border: 1px solid black;
  // position: relative;
  z-index: 2;
  overflow: hidden;
}

img.gallery {
  height: auto;
  width: auto;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
