.users-table{
    width: 100%;
}

.users-column{
    padding-left: 10px;
    padding-right: 10px;
}

.edit-input{
    width: 14%;
    max-width: 14%;
}

// .users-rank{
//     width: 14%;
//     max-width: 14%;
// }

// .users-email{
//     width: 14%;
//     max-width: 14%;
// }

// .users-display-name{
//     width: 14%;
//     max-width: 14%;
// }

// .users-username{
//     width: 14%;
//     max-width: 14%;
// }

// .users-role{
//     width: 14%;
//     max-width: 14%;
// }

// .users-photo{
//     width: 14%;
//     max-width: 14%;
// }

// .users-edit{
//     width: 14%;
//     max-width: 14%;
// }

// mat-cell:nth-child(2),
// mat-header-cell:nth-child(2) {
//     flex: 0 0 16%;
// }

// mat-cell:nth-child(2),
// mat-header-cell:nth-child(2) {
//     flex: 0 0 16%;
// }

// mat-cell:nth-child(3),
// mat-header-cell:nth-child(3) {
//     flex: 0 0 16%;
// }

// mat-cell:nth-child(4),
// mat-header-cell:nth-child(4) {
//     flex: 0 0 16%;
// }

// mat-cell:nth-child(5),
// mat-header-cell:nth-child(5) {
//     flex: 0 0 50%;
// }

// mat-cell:nth-child(6),
// mat-header-cell:nth-child(5) {
//     flex: 0 0 5%;
// }