<div class="custom-body admin-root">
    <div class="row">
        <div class="col-1">
          <button mat-mini-fab color="primary" type="button" (click)="back()">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </div>
        <div class="col-11">
          <h2><strong>
            {{ 'APP.ADMIN.TITLE' | translate }}
          </strong></h2>
        </div>
      </div>
    <div class="admin-page-body">
        <!-- *ngIf="user" -->
        <mat-card class="admin-card">
            <!-- mat-align-tabs="end" | "start" | "center" -->
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="Users">
                    <app-admin-users></app-admin-users>
                </mat-tab>
                <mat-tab label="Games">
                    <app-admin-games></app-admin-games>
                </mat-tab>
                <mat-tab label="Categories">
                    <app-admin-categories></app-admin-categories>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</div>
