<div class="custom-body admin-root">
    <mat-card>
        <!-- mat-align-tabs="end" | "start" | "center" -->
        <mat-tab-group mat-align-tabs="end">
            <mat-tab label="Users">
                <app-admin-users></app-admin-users>
            </mat-tab>
            <mat-tab label="Games">
                <app-admin-games></app-admin-games>
            </mat-tab>
            <mat-tab label="Categories">
                <app-admin-categories></app-admin-categories>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>
