
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $gamebox-app-ui-primary: mat-palette($mat-indigo);
$gamebox-app-ui-primary: mat-palette($mat-grey, 900, 900, 900);
$gamebox-app-ui-accent: mat-palette($mat-yellow);

// The warn palette is optional (defaults to red).$mat-red
$gamebox-app-ui-warn: mat-palette($mat-grey, 900, 900, 900);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$gamebox-app-ui-theme: mat-light-theme((
  color: (
    primary: $gamebox-app-ui-primary,
    accent: $gamebox-app-ui-accent,
    warn: $gamebox-app-ui-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($gamebox-app-ui-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
// body { font-family: "Arial Rounded MT Bold"; font-size: 30px; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body{
  background-color: rgb(224, 224, 224);
}

.custom-body{
  padding: 20px;
}

.right-float{
  float: right;
}

// Snack Bars
.failure-snackbar{
  background-color: rgb(59, 7, 0);
  color: rgb(255, 189, 189);
}

.success-snackbar{
  background-color: black;
  color: white;
}

.grid-container{
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

app-game-card{
  max-width: 500px;
}
